allow hal_gnss_default init:unix_stream_socket connectto;
allow hal_gnss_default device:chr_file { ioctl open read write };
allow hal_gnss_default self:netlink_generic_socket { bind create };
allow hal_gnss_default self:netlink_socket { bind create };
allow hal_gnss_default self:socket { create ioctl read write };
allow hal_gnss_default self:udp_socket create;
allow hal_gnss_default socket_device:dir { add_name write };
allow hal_gnss_default socket_device:sock_file { create write };
allow hal_gnss_default sysfs:dir { open read };
allow hal_gnss_default sysfs:file { getattr open read };
allow hal_gnss_default system_data_file:file { getattr open read setattr write };