allow hal_memtrack_default debugfs:file { getattr open read };
allow hal_memtrack_default hwservicemanager:dir search;
allow hal_memtrack_default hwservicemanager:file { open read };
allow hal_memtrack_default servicemanager:dir search;
allow hal_memtrack_default servicemanager:file { getattr open read };