allow init bluetooth:binder call;
allow init camera_data_file:file append;
allow init cameraserver:fd use;
allow init dnsresolver_service:service_manager find;
allow init gpu_device:chr_file { ioctl open read write };
allow init graphics_device:chr_file { ioctl open read write };
allow init hal_authsecret_hwservice:hwservice_manager add;
allow init hal_bluetooth_hwservice:hwservice_manager { add find };
allow init hal_graphics_allocator_default:fd use;
allow init hal_keymaster_hwservice:hwservice_manager add;
allow init hal_light_hwservice:hwservice_manager add;
allow init hal_lineage_livedisplay_hwservice:hwservice_manager add;
allow init hal_lineage_touch_hwservice:hwservice_manager add;
allow init hal_usb_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init ion_device:chr_file { ioctl open read write };
allow init mediadrmserver:binder transfer;
allow init netd:binder call;
allow init netd_service:service_manager find;
allow init node:tcp_socket node_bind;
allow init rtc_device:chr_file { ioctl open read };
allow init self:binder call;
allow init self:capability2 block_suspend;
allow init self:netlink_generic_socket { bind create write };
allow init self:netlink_route_socket { bind create read };
allow init self:netlink_socket { bind create read write };
allow init self:netlink_xfrm_socket { bind create };
allow init self:process execmem;
allow init self:rawip_socket { create getopt setopt };
allow init self:socket { create ioctl read write };
allow init self:tcp_socket { bind create listen setopt };
allow init shell_exec:file execute_no_trans;
allow init surfaceflinger:binder call;
allow init sysfs:file { open read setattr write };
allow init sysfs_net:file { open write };
allow init sysfs_uio:lnk_file read;
allow init sysfs_wake_lock:file { append open write };
allow init system_file:file execute_no_trans;
allow init system_server:binder call;
allow init tee_device:chr_file { ioctl open read write };
allow init uio_device:chr_file { open read write };
allow init vendor_file:file execute_no_trans;
allow init video_device:chr_file { ioctl open read write };
allow init vndbinder_device:chr_file { ioctl open read write };
allow init device:chr_file { ioctl open read write };
allow init kernel:system module_request;
allow init self:capability sys_module;
allow init socket_device:sock_file { create getattr setattr unlink write };
allow init vendor_shell_exec:file execute_no_trans;
allow init vendor_toolbox_exec:file execute_no_trans;
allow init battery_data_device:chr_file { ioctl open read write };
allow init debugfs_rmt:file write;
allow init diag_device:chr_file { ioctl open read write };
allow init modem_efs_partition_device:blk_file write;
allow init pps_socket:sock_file write;
allow init qmuxd_socket:sock_file write;
allow init rpmb_device:blk_file write;
allow init self:netlink_route_socket setopt;
allow init self:socket bind;
allow init smd_device:chr_file { ioctl open read write };
allow init ssd_device:blk_file write;
allow init sysfs_battery_supply:file { open read write };
allow init sysfs_graphics:file { open read write };
allow init sysfs_smd_open_timeout:file { open write };
allow init sysfs_uio_file:file { open read };
allow init system_file:dir relabelfrom;
allow init system_file:file relabelfrom;
allow init vm_bms_device:chr_file { open read write };
allow init wcnss_device:chr_file { open read write };
allow init qdisplay_service:service_manager find;
allow init self:netlink_route_socket { getattr nlmsg_read nlmsg_write write };
allow init self:tcp_socket ioctl;
allow init self:udp_socket ioctl;
allow init init:udp_socket ioctl;
allow init system_suspend_hwservice:hwservice_manager find;
allow init hal_drm_hwservice:hwservice_manager add;
allow init hal_perf_hwservice:hwservice_manager add;
allow init hal_perf_hwservice:hwservice_manager find;