# Used for attaching external SD card block device as mass storage
allow kernel block_device:blk_file { read write };

allow kernel untrusted_app:fd use;
allow kernel untrusted_app_25:fd use;
allow kernel untrusted_app_27:fd use;
allow kernel untrusted_app_29:fd use;