allow kernel bootanim_exec:file open;
allow kernel bootstat_exec:file open;
allow kernel cache_block_device:blk_file getattr;
allow kernel cameraserver_exec:file open;
allow kernel cgroup:dir { mounton read setattr };
allow kernel cgroup:file { getattr setattr };
allow kernel cgroup:filesystem mount;
allow kernel gatekeeperd_exec:file open;
allow kernel idmap_exec:file open;
allow kernel installd_exec:file open;
allow kernel keystore_exec:file open;
allow kernel labeledfs:filesystem remount;
allow kernel mediadrmserver_exec:file open;
allow kernel mediaextractor_exec:file open;
allow kernel mediametrics_exec:file open;
allow kernel mediaserver_exec:file open;
allow kernel proc:file { getattr open };
allow kernel proc_interrupts:file { getattr open };
allow kernel proc_meminfo:file open;
allow kernel proc_stat:file { getattr open };
allow kernel properties_device:dir { open read };
allow kernel sdcardd_exec:file open;
allow kernel self:capability { chown dac_override fowner fsetid };
allow kernel shell_exec:file { execute execute_no_trans getattr open };
allow kernel statsd_exec:file open;
allow kernel swap_block_device:blk_file { getattr open read write };
allow kernel sysfs_zram:dir search;
allow kernel sysfs_zram:file open;
allow kernel system_data_file:dir read;
allow kernel system_data_file:file { getattr open };
allow kernel system_file:file execute_no_trans;
allow kernel tmpfs:dir read;
allow kernel tombstoned_exec:file open;
allow kernel toolbox_exec:file { execute execute_no_trans getattr open };
allow kernel unlabeled:file { execute execute_no_trans getattr open };
allow kernel untrusted_app:fd use;
allow kernel usbd_exec:file open;
allow kernel vold_prepare_subdirs_exec:file open;
allow kernel wificond_exec:file open;
allow kernel block_device:blk_file getattr;
allow kernel debugfs_tracing:file { open getattr };
allow kernel debugfs_tracing_debug:dir { open read };
allow kernel debugfs_tracing_debug:file open;
allow kernel dropbox_data_file:dir getattr;
allow kernel privapp_data_file:file { getattr open };
allow kernel wallpaper_file:file { getattr open };
allow kernel persist_file:file { execute execute_no_trans getattr open };
allow kernel persist_file:dir search;
allow kernel self:capability sys_admin;
allow kernel block_device:dir search;
allow kernel system_lib_file:file ioctl;
allow kernel app_data_file:dir search;
allow kernel backup_data_file:file { getattr open };
allow kernel gatekeeperd_exec:file getattr;
allow kernel install_data_file:file getattr;
allow kernel resourcecache_data_file:dir search;
allow kernel untrusted_app_27:fd use;
allow kernel cache_file:dir { search open read };
allow kernel cache_file:file { open read write };