allow keystore vfat:file { read getattr open };
allow keystore vfat:dir search;
allow keystore firmware_file:dir search;
allow keystore firmware_file:file r_file_perms;
