allow mm-qcamerad persist_file:dir search;
allow mm-qcamerad persist_file:file r_file_perms;
allow mm-qcamerad system_data_file:sock_file unlink;
allow mm-qcamerad sensors_socket:sock_file read;
allow mm-qcamerad system_data_file:dir { add_name remove_name write };
allow mm-qcamerad self:tcp_socket { bind setopt create };
allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;
allow mm-qcamerad camera_data_file:sock_file { create unlink write };
allow mm-qcamerad { untrusted_app priv_app }:fd use;
allow mm-qcamerad untrusted_app:fd use;
allow mm-qcamerad untrusted_app_25:fd use;
allow mm-qcamerad camera_data_file:sock_file { create unlink };
allow mm-qcamerad camera_data_file:dir r_dir_perms;
allow mm-qcamerad mpctl_socket:dir search;
unix_socket_connect(mm-qcamerad, mpctl, perfd)
binder_call(mm-qcamerad, servicemanager)
binder_use(mm-qcamerad)
