allow netmgrd self:capability { kill dac_override };
allow netmgrd self:packet_socket { write bind create read };
allow netmgrd shell_exec:file entrypoint;
allow netmgrd netmgrd_exec:file execute_no_trans;
allow netmgrd domain:dir { search open read getattr };
allow netmgrd domain:{ file lnk_file } { open read getattr };
allow netmgrd rild:process { signal };
