allow netmgrd self:capability { dac_override  sys_resource };
allow netmgrd device:file write;
allow netmgrd hal_cne_hwservice:hwservice_manager find;