allow priv_app adb_data_file:dir { getattr read search };
allow priv_app adb_data_file:file { getattr open read };
allow priv_app bluetooth_data_file:dir getattr;
allow priv_app cgroup:dir read;
allow priv_app init:unix_stream_socket connectto;
allow priv_app proc_interrupts:file { open read };
allow priv_app proc_version:file open;
allow priv_app property_socket:sock_file write;
allow priv_app radio_data_file:dir getattr;
allow priv_app sepolicy_file:file read;
allow priv_app sysfs_android_usb:file open;
allow priv_app system_app_data_file:dir getattr;
allow priv_app unlabeled:lnk_file getattr;
allow priv_app device:chr_file { ioctl open read write };
allow priv_app device:dir open;
allow priv_app firmware_file:filesystem getattr;
allow priv_app proc_modules:file open;
allow priv_app sysfs:dir open;
allow priv_app sysfs:file { getattr open };
allow priv_app dolby_prop:file { open read getattr };
allow priv_app dolby_prop:property_service set;