allow surfaceflinger device:chr_file { ioctl open read write };
allow surfaceflinger sysfs:file { getattr open read write };
allow surfaceflinger hal_graphics_allocator_hwservice:hwservice_manager { find add };
allow surfaceflinger default_android_service:service_manager { find add };