allow system_app device:chr_file { ioctl open read write };
allow system_app sysfs:file { getattr open read };
allow system_app adb_data_file:file { getattr open read };
allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr open read };
allow system_app apex_service:service_manager find;
allow system_app apexd:binder call;
allow system_app installd:binder call;
allow system_app netd:binder call;
allow system_app system_suspend_control_service:service_manager find;
allow system_app vold:binder call;
allow system_app wificond:binder call;
allow system_app selinuxfs:file { open read };
allow system_app adb_data_file:dir search;
allow system_app init:binder call;
allow system_app system_data_file:dir { search read write getattr };
