allow system_server sensors_data_file:dir r_dir_perms;
allow system_server sensors_data_file:file rw_file_perms;
allow system_server sensors_data_file:fifo_file rw_file_perms;
allow system_server wifi_data_file:sock_file unlink;
allow system_server sysfs:file r_file_perms;
allow system_server mm-pp-daemon:unix_stream_socket connectto;
allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file rw_file_perms;