allow system_server time_daemon:unix_stream_socket connectto;
# CmHardwareService access to Color Calibration
allow system_server display_sysfs:file rw_file_perms;
