#============= thermal-engine ==============
allow thermal-engine sysfs_spmi_dev:dir { read search }; 
allow thermal-engine self:capability sys_nice;
allow thermal-engine sysfs_spmi_dev:dir open;
r_dir_file(thermal-engine, sysfs_spmi_dev)