allow untrusted_app persist_file:dir getattr;
allow untrusted_app device:dir { open read };
allow untrusted_app block_device:dir { open read };
allow untrusted_app init:dir search;
allow untrusted_app init:file { read open getattr };
allow untrusted_app kernel:dir search;
allow untrusted_app kernel:file { read open getattr };
allow untrusted_app ueventd:dir search;
allow untrusted_app ueventd:file { read open getattr };
allow untrusted_app logd:dir search;
allow untrusted_app logd:file { read open getattr };
allow untrusted_app vold:dir search;
allow untrusted_app vold:file { read open getattr };
allow untrusted_app healthd:dir search;
allow untrusted_app healthd:file { read open getattr };
allow untrusted_app lmkd:dir search;
allow untrusted_app lmkd:file { read open getattr };
allow untrusted_app servicemanager:dir search;
allow untrusted_app servicemanager:file { read open getattr };
allow untrusted_app surfaceflinger:dir search;
allow untrusted_app surfaceflinger:file { read open };
allow untrusted_app sysfs:file r_file_perms;
allow untrusted_app tombstone_data_file:dir search;
allow untrusted_app sysfs:file { getattr open read };
