allow untrusted_app anr_data_file:dir getattr;
allow untrusted_app apex_data_file:dir getattr;
allow untrusted_app asec_image_file:dir getattr;
allow untrusted_app dropbox_data_file:file { rename unlink };
allow untrusted_app rootfs:dir read;
allow untrusted_app selinuxfs:file { open read };
allow untrusted_app device:chr_file { ioctl open read write };
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app adb_data_file:file { open getattr read execute execute_no_trans };
allow untrusted_app proc_net:file { open read };