on init
    # Change the ownership of the notification LED interface
    chmod 0664 /sys/class/leds/green/brightness
    chmod 0664 /sys/class/leds/green/max_brightness
    chmod 0664 /sys/class/leds/green/trigger

    # Change the ownership of the charging LED interface
    chmod 0664 /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/red/max_brightness
    chmod 0664 /sys/class/leds/red/trigger

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.msm8916
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical