service vendor.radio-config-hal-1-1 /vendor/bin/hw/android.hardware.radio.config@1.1-service.msm8916
    interface android.hardware.radio.config@1.0::IRadioConfig default
    interface android.hardware.radio.config@1.1::IRadioConfig default
    class hal
    user system
    group system
