on init
    # Drop write bit from cpu_min_freq so that libqti-perfd can't set it
    chmod 0444 /sys/module/msm_performance/parameters/cpu_min_freq

service boot_boost /vendor/bin/sh /system/vendor/bin/init.boot_boost.sh
    class late_start
    disabled
    user root
    group system
    oneshot

on enable-low-power

    # disable thermal core_control to update interactive governor settings
    write /sys/module/msm_thermal/core_control/enabled 0

    # Switch to interactive and configure it
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 533333
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 60000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 50000
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 50000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "1 200000:37 400000:48 533333:56 800000:63 998400:69 1094400:77 1152000:83 1209600:90 1401600:96"

    # enable thermal core_control now
    write /sys/module/msm_thermal/core_control/enabled 1

    # Set RPS mask
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 2

    # Update foreground and background cpusets
    # Reserve CPU 3 for the top app
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 1
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # BOOST
    start boot_boost

    # Set perfd properties
    setprop sys.post_boot.parsed 1

on charger
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

on property:init.svc.recovery=running
    trigger enable-low-power

on property:dev.bootcomplete=1
    trigger enable-low-power
