on early-init

    write /sys/block/mmcblk0/bdi/read_ahead_kb 512

on boot

    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1
    write /proc/sys/kernel/sched_boost 1

    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # HMP scheduler load tracking settings
    write /proc/sys/kernel/sched_ravg_hist_size 3

    # HMP Task packing settings for 8916
    write /proc/sys/kernel/sched_small_task 20
    write /proc/sys/kernel/sched_mostly_idle_load 30
    write /proc/sys/kernel/sched_mostly_idle_nr_run 3

    # disable thermal core_control to update interactive governor settings
    write /sys/module/msm_thermal/core_control/enabled 0

    # enable governor
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 800000
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "25000 1094400:50000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 998400
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 50000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "1 800000:85 998400:90 1094400:80"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 50000

    # enable thermal core_control now
    write /sys/module/msm_thermal/core_control/enabled 1

    write /proc/sys/kernel/sched_window_stats_policy 2
    write /proc/sys/kernel/sched_ravg_hist_size 5

on charger
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/scheduler row

    # bring all CPUs online
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

    start perfd
