# Copyright (c) 2009-2012, 2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /vendor/etc/init/hw/init.qcom.power.rc
import /vendor/etc/init/hw/init.qcom.ssr.rc
import /vendor/etc/init/hw/init.qcom.usb.rc
import /vendor/etc/init/hw/init.target.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chown system system /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

    # GPS
    chown root gps /dev/subsys_modem
    chmod 0660 /dev/subsys_modem

    write /sys/class/leds/red/trigger "none"
    write /sys/class/leds/green/trigger "default-on"

    # Turn off backlight on blank
    write /sys/class/leds/lcd-backlight/trigger "backlight"

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice

    # Start HW service manager early
    start hwservicemanager

    mount_all /vendor/etc/fstab.qcom --early
    restorecon_recursive /persist

    exec u:r:su:s0 root root -- /system/bin/sh /system/vendor/bin/fde_ext4_resize.sh

    exec u:r:su:s0 root root -- /system/bin/sh /system/vendor/bin/target_config.sh

on late-fs
    # Start services for Boot Animation
    start servicemanager
    start vendor.power
    start surfaceflinger
    start bootanim
    start vendor.gralloc-2-0
    start vendor.hwcomposer-2-1
    write /sys/class/graphics/fb0/dyn_pu 1

    # Wait for hwservicemanager ready since fsck might be triggered in mount_all --late
    # In such case, init won't responce the property_set from hwservicemanager and then
    # cause services for bootanim not running.
    wait_for_prop hwservicemanager.ready true

    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.qcom --late

# msm specific files that need to be created on /data
on post-fs-data
    mkdir /data/fdAlbum 0770 camera camera
    mkdir /data/misc/camera 0770 camera camera

    # Create directory used by display clients
    mkdir /data/misc/display 0770 system graphics

    # Move to o-mr1 perfd dir schema
    mkdir /data/vendor/perfd 0770 root system
    chmod 2770 /data/vendor/perfd
    rm /data/vendor/perfd/default_values

    mkdir /data/vendor/mediadrm 0700 media media

    #Create IOP  deamon related dirs
    mkdir /data/vendor/iop 0700 root system

    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system

    #Create directories for Location services
    mkdir /data/vendor/location 0770 gps gps
    mkdir /data/vendor/location/mq 0770 gps gps
    mkdir /data/vendor/location/xtwifi 0770 gps gps
    mkdir /dev/socket/location 0770 gps gps
    mkdir /dev/socket/location/mq 0770 gps gps
    mkdir /dev/socket/location/xtra 0770 gps gps
    mkdir /dev/socket/location/dgnss 0770 gps gps

    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    setprop vold.post_fs_data_done 1

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    write /sys/kernel/boot_adsp/boot 1

    start vendor.qseecomd

on boot

# Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline

    chown bluetooth net_bt /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt /dev/ttyHS0
    chmod 0660 /dev/ttyHS0


    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/max_brightness
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/max_brightness
    chown system system /sys/class/leds/green/trigger


    # Create directory used by display clients
    mkdir /persist/alarm 0770 system system
    mkdir /persist/display 0770 system graphics

    # Create /data/time folder for time-services
    mkdir /data/time 0700 system system
    chmod 0770 /data/time/ats_2

    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2

    # Double tap to wake 
    chown system system /sys/android_touch/doubletap2wake
    chmod 0660  /sys/android_touch/doubletap2wake

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 2770 radio radio
    mkdir /dev/socket/qmux_audio 2770 media audio
    mkdir /dev/socket/qmux_bluetooth 2770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 2770 gps gps

    #Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

#   Assign TCP buffer thresholds to be ceiling value of technology maximums
#   Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  16777216
    write /proc/sys/net/core/wmem_max  8388608

    #To allow interfaces to get v6 address when tethering is enabled
    # To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Graphics node permissions
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/dynamic_fps
    chmod 0664 /sys/class/graphics/fb0/dynamic_fps
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/modes
    chown system graphics /sys/devices/virtual/graphics/fb0/mdp/bw_mode_bitmap
    chmod 0664 /sys/devices/virtual/graphics/fb0/mdp/bw_mode_bitmap

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

service irsc_util /system/vendor/bin/irsc_util "/system/vendor/etc/sec_config"
    class main
    user root
    oneshot

service rmt_storage /system/vendor/bin/rmt_storage
    class core
    user root
    group system wakelock
    ioprio rt 0
    shutdown critical
    writepid /dev/cpuset/system-background/tasks

# FM
on property:hw.fm.init=0
    write /sys/module/radio_iris_transport/parameters/fmsmd_set 0

on property:hw.fm.init=1
    write /sys/module/radio_iris_transport/parameters/fmsmd_set 1

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/vendor/bin/qmuxd
    class main
    user root
    group radio audio bluetooth gps oem_2950 wakelock
    writepid /dev/cpuset/system-background/tasks

service netmgrd /system/vendor/bin/netmgrd
    class main
    group system wakelock
    writepid /dev/cpuset/system-background/tasks

on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

service ril-daemon2 /vendor/bin/hw/rild -c 2
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

service set_zram /vendor/bin/sh /system/vendor/bin/set_zram.sh
    class late_start
    disabled
    user root
    group system
    oneshot

on property:gsm.version.baseband=""
    exec u:r:su:s0 root root -- /system/bin/sh /system/vendor/bin/set_baseband.sh

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    critical


#start camera server as daemon
service vendor.qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera gps system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks

on property:init.svc.media=restarting
    restart vendor.qcamerasvr

on property:init.svc.servicemanager=restarting
    restart vendor.qcamerasvr

on property:init.svc.bootanim=running
    write /sys/class/leds/red/trigger none
    write /sys/class/leds/green/trigger blinking

on property:init.svc.bootanim=stopped
    write /sys/class/leds/green/trigger none

service vendor.qseecomd /system/vendor/bin/qseecomd
   class core
   user root
   group root
   writepid /dev/cpuset/system-background/tasks

service loc_launcher /system/vendor/bin/loc_launcher
    #loc_launcher will start as root and set its uid to gps
    class late_start
    group gps inet diag wifi

service wcnss-service /system/vendor/bin/wcnss_service
    class late_start
    user system
    group system wifi radio
    oneshot

service thermal-engine /system/vendor/bin/thermal-engine
    class hal
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    socket thermal-send-rule stream 0660 system system
    group root system diag
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.surfaceflinger=restarting
    stop hwcomposer-2-1
    start hwcomposer-2-1

# Start it again on boot, just being double sure.
on property:sys.boot_completed=1
    exec u:r:su:s0 root root -- /system/bin/sh /system/vendor/bin/set_baseband.sh
    start set_zram
    restart vendor.camera-provider-2-5
    restart cameraserver

    # Back to default VM settings
    write /proc/sys/vm/dirty_expire_centisecs 3000

on charger
    start thermal-engine

on property:apexd.status=ready
    mount none /system/etc/swcodec/ld.config.txt /apex/com.android.media.swcodec/etc/ld.config.txt bind 