# Copyright (c) 2009-2012, 2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    #set non-stand-charger can used
    write /sys/module/phy_msm_usb/parameters/floated_charger_enable Y

on boot
    # charger
    chown system system /sys/bus/i2c/drivers/lc709203/batt_capacity
    chmod 0660 /sys/bus/i2c/drivers/lc709203/batt_capacity
    chown root system /sys/class/power_supply/bms/current_now
    chown root system /sys/class/power_supply/bms/voltage_ocv
    chmod 0664 /sys/class/power_supply/bms/current_now
    chmod 0664 /sys/class/power_supply/bms/voltage_ocv
    chown system system /sys/class/sensors/proximity/enable
    chmod 0660 /sys/class/sensors/proximity/enable
    chown system system /sys/class/sensors/light/enable
    chmod 0660 /sys/class/sensors/light/enable

    chown system system /sys/bus/i2c/drivers/ft5x06_ts/5-0038/disable_keys

on init
    # add a cpuset for the camera daemon
    # we want all the cores for camera
    mkdir /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0

    # add a cpuset for the audio
    mkdir /dev/cpuset/audio-app
    chown system system /dev/cpuset/audio-app
    chown system system /dev/cpuset/audio-app/tasks
    chmod 0664 /dev/cpuset/audio-app/tasks
    write /dev/cpuset/audio-app/cpus 0-3
    write /dev/cpuset/audio-app/mems 0

    chown system system /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/charging_enabled

service vm_bms /system/vendor/bin/vm_bms
    class main
    user root
    group root wakelock

service vendor.msm_irqbalance /vendor/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance.conf
    class core
    user root
    group root
    disabled

on post-fs
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /proc/sys/vm/dirty_background_ratio 5
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_ratio 10
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/vfs_cache_pressure 100

on charger
   wait /dev/block/bootdevice/by-name/system
   mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
   chown root system /sys/class/power_supply/bms/current_now
   chown root system /sys/class/power_supply/bms/voltage_ocv
   chmod 0664 /sys/class/power_supply/bms/current_now
   chmod 0664 /sys/class/power_supply/bms/voltage_ocv
   start vm_bms
   write /sys/class/leds/green/trigger "none"
   write /sys/class/leds/red/trigger "timer"

on zygote-start
    start zygote

    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler noop

on property:sys.boot_completed=1
    write /proc/sys/kernel/tune_android_tasks 1
    write /sys/block/mmcblk0/queue/scheduler bfq
    write /sys/block/mmcblk1/queue/scheduler deadline
    write /sys/block/mmcblk0/queue/rq_affinity 0
    write /sys/block/mmcblk1/queue/rq_affinity 0
    write /sys/block/mmcblk0/queue/nr_requests 4096
    write /sys/block/mmcblk1/queue/nr_requests 512
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024
    start vendor.msm_irqbalance

 on property:dolby.ds.volumeleveler.state=on && property:dolby.ds.state=on
    write /sys/kernel/sound_control/headphone_gain "-12 -12"
    write /sys/kernel/sound_control/speaker_gain "0"

 on property:dolby.ds.volumeleveler.state=off
    exec -- /system/bin/sleep 0.3
    write /sys/kernel/sound_control/headphone_gain "0 0"
    write /sys/kernel/sound_control/speaker_gain "7"

 on property:dolby.ds.state=off
    exec -- /system/bin/sleep 0.3
    write /sys/kernel/sound_control/headphone_gain "0 0"
    write /sys/kernel/sound_control/speaker_gain "7"
