type stml0xx, domain;
type stml0xx_exec, exec_type, vendor_file_type, file_type;

# Started by init
init_daemon_domain(stml0xx)

r_dir_file(stml0xx, firmware_file)

# shell scripts need to execute /vendor/bin/sh and toolbox
allow stml0xx vendor_shell_exec:file rx_file_perms;
allow stml0xx vendor_toolbox_exec:file rx_file_perms;

allow stml0xx vendor_shell_exec:file read;
allow stml0xx stml0xx_exec:file execute_no_trans;
allow stml0xx sensors_device:chr_file rw_file_perms;
